/*Big tablet to 1200px(width smaller than the 1140px row ie large)*/
@media only screen and (max-width:1200px){
  html,
  body{
    margin: 0;
  }
}

/*Small tablets to Big tablets:from 769px to 992px ie medium*/
@media only screen and (max-width:992px){
  html,
  body{
    font-size: 14px;
  }
}

/*Big phones to small tablets from 577px to 768px ie small*/
@media only screen and (max-width:768px){
  html,
  body{
    font-size: 13px;
  }
}

/*Small phones from 0 to 576px ie extra small*/
@media only screen and (max-width:576px){
  html,
  body{
    font-size: 12px;
  }
}
